@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] LUX Locks</title>
    <script type="importmap"></script>
    <!--bootstrap CSS-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--bootstrap ikoner-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <!-- font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    <!--egen CSS-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/LUXLocks_projekt.styles.css" asp-append-version="true" />
</head>
<body>

    @{
        var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
        var currentAction = ViewContext.RouteData.Values["action"]?.ToString();
    }

    <header class="custom-theme">
    <nav class="navbar navbar-expand-lg navbar-light shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/luxlogo.png" alt="LUXLocks" style="height: 80px; margin-right: 20px;">
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">

                    @if (SignInManager.IsSignedIn(User))
                    {
                        @* Inloggat läge *@
                        <li class="nav-item">
                            <a class="nav-link custom-text-header @(currentController == "Appointment" ? "active fw-bold" : "")" 
                            asp-area="" asp-controller="Appointment" asp-action="Index">Bokningar</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link custom-text-header @(currentController == "Review" ? "active fw-bold" : "")" 
                            asp-area="" asp-controller="Review" asp-action="Index">Recensioner</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link custom-text-header @(currentController == "Stylist" ? "active fw-bold" : "")" 
                            asp-area="" asp-controller="Stylist" asp-action="Index">Personal</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link custom-text-header @(currentController == "Treatment" ? "active fw-bold" : "")" 
                            asp-area="" asp-controller="Treatment" asp-action="Index">Behandlingar</a>
                        </li>
                    }
                    else
                    {
                        @* Utloggat läge *@
                        <li class="nav-item">
                            <a class="nav-link custom-text-header @(currentController == "Home" ? "active fw-bold" : "")" 
                            asp-area="" asp-controller="Home" asp-action="Index">Start</a>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link custom-text-header @(currentController == "Appointment" && currentAction == "Create" ? "active fw-bold" : "")" 
                            asp-area="" asp-controller="Appointment" asp-action="Create">Boka tid</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link custom-text-header @(currentController == "Review" ? "active fw-bold" : "")" 
                            asp-area="" asp-controller="Review" asp-action="Index">Recensioner</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link custom-text-header @(currentController == "Stylist" ? "active fw-bold" : "")" 
                            asp-area="" asp-controller="Stylist" asp-action="Index">Våra frisörer</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link custom-text-header @(currentController == "Treatment" ? "active fw-bold" : "")" 
                            asp-area="" asp-controller="Treatment" asp-action="Index">Våra behandlingar</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav ms-auto">
                    <partial name="_LoginPartial" />
                </ul>
            </div>
        </div>
    </nav>
</header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <p>Projektuppgift i .NET</p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>