@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<LUXLocks_projekt.Models.ReviewModel>

@{
    ViewData["Title"] = "Recensioner";
}

<h2>Recensioner</h2>

<p>
    @if (!SignInManager.IsSignedIn(User))
    {
    <a asp-action="Create">Skriv en recension</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentModelId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Treatment.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Redigera</a>
                        <span> | </span>
                        <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a>
                        <span> | </span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
