@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<LUXLocks_projekt.Models.TreatmentModel>

@{
    ViewData["Title"] = "Behandlingar";
}

<h2>Behandlingar</h2>
<p>
    @if (SignInManager.IsSignedIn(User))
    {
    <a asp-action="Create">Lägg till ny behandling</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @if (SignInManager.IsSignedIn(User))
                {
                <a asp-action="Edit" asp-route-id="@item.Id">Redigera</a>
                <span> | </span>
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a>
                <span> | </span>
                <a asp-action="Delete" asp-route-id="@item.Id">Ta bort</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
