@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<LUXLocks_projekt.Models.AppointmentModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Kommande bokningar</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stylist.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Treatment.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SilentTreatment)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stylist.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Treatment.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HairLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HairType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SilentTreatment)
            </td>
            <td>
                @if (SignInManager.IsSignedIn(User))
                {
                <a asp-action="Edit" asp-route-id="@item.Id">Redigera</a>
                <span> | </span>
                <a asp-action="Details" asp-route-id="@item.Id">Detaljer</a>
                <span> | </span>
                <a asp-action="Delete" asp-route-id="@item.Id">Avboka</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
